<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>

<bean id ="triangle" class="info.allfollowers.spring.ReferObjectsExample.Triangle">
	<property name="pointA" ref ="zeroPoint"/>
	<property name="pointB" ref ="point1"/>
	<property name="pointC" ref ="point2"/>
	
</bean>


<bean id ="zeroPoint" class="info.allfollowers.spring.ReferObjectsExample.Point">
	<property name="x" value ="0"/>
	<property name="y" value ="0"/>
</bean>

<bean id ="point1" class="info.allfollowers.spring.ReferObjectsExample.Point">
	<property name="x" value ="1"/>
	<property name="y" value ="1"/>
</bean>

<bean id ="point2" class="info.allfollowers.spring.ReferObjectsExample.Point">
	<property name="x" value ="2"/>
	<property name="y" value ="2"/>
</bean>
</beans>